<!DOCTYPE html>
<html>
  <head>
    <title>BoardGameNerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="BoardGameNerd" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="BoardGameNerd provides users with an interactive interface for sharing and ranking board games with the community as well as providing users with useful information on new games they are unfamiliar with. BoardGameNerd is built on the Ruby on Rails stack and uses PostgreSQL and AWS S3 buckets for storing site data. The frontend is developed with a React + Redux framework and utilizes the latest React features including functional components and hooks. The site has secure user authentication and full CRUD operations."
     />
     <meta property="og:url"
       content="https://github.com/RobertT122/board-game-nerd"
     />

    <script type="text/javascript">
      window.greyHexUrl = "<%= image_url("ui_images/hexagon-grey.svg") %>";
      window.redHexUrl = "<%= image_url("ui_images/hexagon-red.svg") %>";
      window.yellowHexUrl = "<%= image_url("ui_images/hexagon-yellow.svg") %>";
      window.greenHexUrl = "<%= image_url("ui_images/hexagon-green.svg") %>";
      window.noImage = "<%= image_url("no_image.png") %>";
      window.logoPng = "<%= image_url("LogoBGN.png")%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
