<!DOCTYPE html>
<html>
  <head>
    <title>BoardGameNerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.greyHexUrl = "<%= image_url("ui_images/hexagon-grey.svg") %>";
      window.redHexUrl = "<%= image_url("ui_images/hexagon-red.svg") %>";
      window.yellowHexUrl = "<%= image_url("ui_images/hexagon-yellow.svg") %>";
      window.greenHexUrl = "<%= image_url("ui_images/hexagon-green.svg") %>";
      window.noImage = "<%= image_url("no_image.png") %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
