<!DOCTYPE html>
<html>
  <head>
    <title>BoardGameNerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
      window.greyHexUrl = "<%= image_url("ui_images/hexagon-grey") %>"
      window.redHexUrl = "<%= image_url("ui_images/hexagon-red") %>"
      window.yellowHexUrl = "<%= image_url("ui_images/hexagon-yellow") %>"
      window.greenHexUrl = "<%= image_url("ui_images/hexagon-green") %>"


      

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
