<!DOCTYPE html>
<html>
  <head>
    <title>BoardGameNerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.greyHexUrl = "ui_images/hexagon-grey"
      window.redHexUrl = "ui_images/hexagon-red"
      window.yellowHexUrl = "ui_images/hexagon-yellow"
      window.greenHexUrl = "ui_images/hexagon-green"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
